.container {
  font-family: "Roboto", sans-serif !important;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.back-button {
  position: absolute;
  left: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

h2 {
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  width: 45%;
}

.model-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.model-list p {
  margin-bottom: 5px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #3498db;
  color: white;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
}

.footer-content p {
  margin-bottom: 10px;
}
