:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.logo-upm {
  width: 250px;
  height: auto;
}

.logo-etsiinf {
  width: 120px;
  height: auto;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.intro {
  margin-bottom: 20px;
}

.intro h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1rem;
  line-height: 1.5;
}

.intro ul {
  text-align: center;
  list-style-position: inside;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 0 30px 30px 30px;
  flex-grow: 1;
}

.model-list {
  text-align: left;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.file-name {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 4px solid #f3f3f3;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

button {
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

.calculate-button {
  background-color: #28a745; /* Cambia el color de fondo a verde */
  color: white;
  padding: 8px 16px; /* Aumenta el relleno */
  font-size: 18px; /* Aumenta el tamaño de la fuente */
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); /* Agrega un efecto de sombra */
  transition: box-shadow 0.3s ease; /* Transición suave al pasar el cursor sobre el botón */
}

.calculate-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35); /* Cambia la sombra al pasar el cursor sobre el botón */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    padding: 20px;
  }

  .logo-upm {
    width: 200px;
  }

  .logo-etsiinf {
    width: 80px;
  }

  .title {
    position: static;
    transform: none;
    margin-bottom: 20px;
  }

  .intro h1 {
    font-size: 1.5rem;
  }

  .intro p {
    font-size: 0.9rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header-container {
    padding: 30px;
  }

  .logo-upm {
    width: 225px;
  }

  .logo-etsiinf {
    width: 100px;
  }

  .intro h1 {
    font-size: 1.75rem;
  }

  .intro p {
    font-size: 0.95rem;
  }
}

.footer {
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer-content {
  text-align: center;
  font-size: 14px;
}

.footer-content a {
  color: #007bff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
