<div class="container">
  <div class="header-container">
    <img class="logo-upm" src="assets/logos/UPM.png" alt="Logo Universidad" />
    <h1 class="title">Calculadora de Similitud de Texto</h1>
    <img
      class="logo-etsiinf"
      src="assets/logos/ETSIINF.jpeg"
      alt="Logo Facultad"
    />
  </div>
  <body>
    <p class="section-text">
      ¡Bienvenido a la Calculadora de Similitud y métricas de Textos! Esta aplicación te
      permite cargar archivos CSV que contienen pares de frases y calcular la
      similitud semántica entre ellas utilizando diferentes modelos de lenguaje.
      O también puedes cargar un archivo CSV que contiene frases y su correspondiente adaptación
      y calcular la calidad  de su adaptación.
    </p>
    <div class="row">
      <div class="column">
        <h2 class="section-title">Formato del archivo CSV</h2>
        <p class="section-text">
          El archivo CSV debe tener un formato específico para funcionar
          correctamente con esta aplicación. Debe contener tres columnas
          separadas por punto y coma (;): frase_original, frase_adaptada y
          semanticamente_similares. Por ejemplo:
        </p>
        <img
          class="csv-format-image"
          src="assets/csv-format.png"
          alt="Formato del archivo CSV"
        />

        <h2 class="section-title">Modelos de similitud semántica usados</h2>
        <p class="section-text">
          Los modelos de lenguaje utilizados en esta aplicación son los
          siguientes:
        </p>
        <ul>
          <li>
            <a
              href="https://huggingface.co/Maite89/Roberta_finetuning_semantic_similarity_stsb_multi_mt"
              target="_blank"
              >Maite89/Roberta_finetuning_semantic_similarity_stsb_multi_mt</a
            >
          </li>
          <li>
            <a
              href="https://huggingface.co/symanto/sn-xlm-roberta-base-snli-mnli-anli-xnli"
              target="_blank"
              >symanto/sn-xlm-roberta-base-snli-mnli-anli-xnli</a
            >
          </li>
          <li>
            <a
              href="https://huggingface.co/hiiamsid/sentence_similarity_spanish_es"
              target="_blank"
              >hiiamsid/sentence_similarity_spanish_es</a
            >
          </li>
        </ul>
        <h2 class="section-title">Métricas usadas</h2>
        <ul>
          <li>
            <a
              href="https://huggingface.co/spaces/evaluate-metric/bleu"
              target="_blank"
              >BLEU</a
            >
          </li>
          <li>
            <a
              href="https://huggingface.co/spaces/evaluate-metric/rouge"
              target="_blank"
              >ROUGE</a
            >
          </li>
          <li>
            <a
              href="https://huggingface.co/spaces/evaluate-metric/meteor"
              target="_blank"
              >METEOR</a
            >
          </li><li>
            <a
              href="https://huggingface.co/spaces/evaluate-metric/ter/blame/main/ter.py"
              target="_blank"
              >TER</a
            >
          </li>
          <li>
            <a
              href="https://huggingface.co/spaces/evaluate-metric/wer"
              target="_blank"
              >WER</a
            >
          </li>
        </ul>
      </div>
      <div class="column">
        <h2 class="section-title">Cómo usar la aplicación</h2>
        <ol class="section-text">
          <li>
            Carga un archivo CSV. Asegúrate de que esté en el formato adecuado,
            mencionado anteriormente.
          </li>
        </ol>
        <div class="steps-container">
          <div class="left-column">
            <h3>Para calcular similitudes</h3>
            <ol class="section-text" start="2">
              <li>
                Una vez cargado el archivo, presiona el botón "Calcular similitudes".
              </li>
              <li>
                La aplicación comenzará a procesar el archivo y a calcular las similitudes utilizando múltiples modelos de lenguaje. Este proceso puede tardar un poco, dependiendo del tamaño del archivo y del número de pares de frases.
              </li>
              <li>
                Una vez finalizado el cálculo, los resultados se mostrarán en una tabla. En ella, podrás ver las puntuaciones de similitud para cada par de frases.
              </li>
              <li>
                Compara los resultados de los diferentes modelos para obtener una visión completa de la similitud semántica entre las frases.
              </li>
            </ol>
          </div>
          <div class="right-column">
            <h3>Para calcular métricas</h3>
            <ol class="section-text" start="2">
              <li>
                Una vez cargado el archivo, presiona el botón "Calcular métricas".
              </li>
              <li>
                El sistema evaluará métricas específicas basadas en criterios preestablecidos para análisis lingüístico avanzado.
              </li>
              <li>
                Los resultados se muestran en una tabla. Incluyen los dos textos evaluados, la puntuación de similitud (ROUGE-1, ROUGE-L y WER), la puntuación de coherencia (METEOR), la puntuación de cohesión (ROUGE-L), la puntuación de redacción (TER) y la puntuación de fluidez (BLEU). Junto a una evaluación de la calificaion de estas métricas.
              </li>
              <li>
                Finalmente observa los resultados obtenidos para obtener una visión general de la calidad de los textos.
              </li>
            </ol>
          </div>
        </div>
        <div class="input-container">
          <input
            id="file-upload"
            type="file"
            accept=".csv"
            (change)="onFileSelected($event)"
          />
        </div>
        <button class="calculate-button" (click)="onSubmit()">
          Calcular similitudes
        </button>
        <!-- Nuevo botón para calcular métricas -->
        <button class="calculate-button metrics-button" (click)="onCalculateMetrics()">
          Calcular métricas
        </button>
        <div class="loading-container">
          <div class="spinner" [hidden]="!isLoading"></div>
        </div>
      </div>
    </div>
  </body>
</div>

<footer class="footer">
  <div class="footer-content">
    <p>Jesús Vivo Castro | Alejandro Ayuso Exposito</p>
    <p>ETSIINF - Universidad Politécnica de Madrid</p>
    <p>Trabajo de Fin de Grado - Lectura Fácil - 2023 - 2024</p>
    <p>
      Contacto: <a href="mailto:j.vivo@alumnos.upm.es">j.vivo@alumnos.upm.es</a>
                 | <a href="mailto:alejandro.ayusoex@alumnos.upm.es">alejandro.ayusoex@alumnos.upm.es</a>
    </p>
  </div>
</footer>
