:host {
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.logo-upm {
  width: 250px;
  height: auto;
}
.logo-etsiinf {
  width: 120px;
  height: auto;
}
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 0 30px 30px 30px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0 15px;
  width: 90%;
}

.column ul li {
  text-align: left;
  padding: 2px;
}

.column ol li {
  text-align: left;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .column {
    flex: 1;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
}
.section-text {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: left;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.file-name {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}
.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 4px solid #f3f3f3;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
}
input[type="file"] {
  display: none;
}
button {
  background-color: #007bff;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}
.calculate-button {
  background-color: #28a745;
  color: #fff;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
  width: 80%;
  margin: auto;
}
.calculate-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
}
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    padding: 20px;
  }
  .logo-upm {
    width: 200px;
  }
  .logo-etsiinf {
    width: 80px;
  }
  .title {
    position: static;
    transform: none;
    margin-bottom: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header-container {
    padding: 30px;
  }
  .logo-upm {
    width: 225px;
  }
  .logo-etsiinf {
    width: 100px;
  }
}
.footer {
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px 0;
}
.footer-content {
  text-align: center;
  font-size: 14px;
}
.footer-content a {
  color: #007bff;
  text-decoration: none;
}
.footer-content a:hover {
  text-decoration: underline;
}
.csv-format-image {
  max-width: 90%;
  max-height: auto;
  display: block;
  margin: auto;
}
